body{
	padding: 20px 0;
	background: white;
	background-image: url("../img/background-tile.png");
	background-attachment: fixed;
}

.container, form {
	background: white;
}

header, .no-results {
	text-align: center;
}

header img {
	width: 500px;
}



@media screen and (max-width: 550px) {
	header img {
		width: 350px;
	}
}